<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onToggleDetails()">
        Display Details
      </button>
      <p *ngIf="showDetails">Secret Password - tuna</p>
      <div
        *ngFor="let click of clicks; let i = index;"
        [ngStyle]="{'background-color': i >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{white: i >= 4}">
          {{click}}
      </div>
    </div>
  </div>
</div>