body {
	padding: 20px;
	background: #2c3e50;
}

.counter-box {
	margin: auto;
	width: 500px;
	height: 200px;
	background: #3498db;
	border-radius: 5px;
	border: 1px solid #196090;
}

.current-count {
	margin-top: 20px;
	text-align: center;
}

.counter-changer {
	text-align: center;
	margin-top: 50px;
}

.counter-changer button {
	margin-right: 20px;
}

.btn-circle {
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 12px 12px;
	font-size: 20px;
	line-height: 1.428571429;
	border-radius: 25px;
}