<html>
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div id="root"></div>
		<script src="https://unpkg.com/react@0.14.3/dist/react.js"></script>
		<script src="https://unpkg.com/react-dom@0.14.3/dist/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>		
		<script type="text/babel">

			class ProductRow extends React.Component {
				render() {
					var name =
						this.props.product.stocked ?
						this.props.product.name :
						<span style={{color: 'red'}}>
							{this.props.product.name}
						</span>;
					return (
						<tr>
							<td>
								{name}
							</td>
							<td>
								{this.props.product.price}
							</td>
						</tr>
					);
				}
			}

			class ProductCategoryRow extends React.Component {
				render() {
					return (
						<tr>
							<th colSpan="2">
								{this.props.category}
							</th>
						</tr>						
					);
				}
			}

			class ProductTable extends React.Component {
				render() {
					let lastCategory = null;
					let rows = [];

					this.props.products.forEach(product => {
						if (
							product.name.indexOf(this.props.filterText) === -1
							||
							((!product.stocked && this.props.inStockOnly))
						) {
							return;
						}
						if (product.category !== lastCategory) {
							rows.push(
								<ProductCategoryRow
									category={product.category}
									key={product.category}/>
							);
						}
						rows.push(
							<ProductRow
								product={product}
								key={product.name} />
						);
						lastCategory = product.category;
					});

					return (
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>{rows}</tbody>
						</table>
					);
				}
			}

			class SearchBar extends React.Component {
				constructor(props) {
					super(props);

					this.handleFilterTextInputChange = this.handleFilterTextInputChange.bind(this);
					this.handleInStockInputChange = this.handleInStockInputChange.bind(this);
				}

				handleFilterTextInputChange(e) {
					this.props.onFilterTextInput(e.target.value);
				}

				handleInStockInputChange(e) {
					this.props.onInStockInput(e.target.checked);
				}				

				render() {
					return (
						<form>
							<input
								placeholder="Search..."
								value={this.props.filterText}
								onChange={this.handleFilterTextInputChange} />
							<p>
								<input
									type="checkbox"
									checked={this.props.inStockOnly}
									onChange={this.handleInStockInputChange} />
								Only show products in stock
							</p> 
						</form>
					);
				}
			}

			class FilterableProductTable extends React.Component {
				constructor(props) {
					super(props);

					this.state = {
						filterText: '',
						inStockOnly: false
					};

					this.handleFilterTextInput = this.handleFilterTextInput.bind(this);
					this.handleInStockInput = this.handleInStockInput.bind(this);
				}

				handleFilterTextInput(filterText) {
					this.setState({
						filterText: filterText
					});
				}

				handleInStockInput(inStockOnly) {
					this.setState({
						inStockOnly: inStockOnly
					});
				}

				render() {
					return (
						<div>
							<SearchBar
								filterText={this.state.filterText}
								inStockOnly={this.state.inStockOnly}
								onFilterTextInput={this.handleFilterTextInput}
								onInStockInput={this.handleInStockInput} />
							<ProductTable
								products={this.props.products}
								filterText={this.state.filterText}
								inStockOnly={this.state.inStockOnly} />
						</div>
					);
				}
			}

			const PRODUCTS = [
				{category: "Sporting Goods", price: "$49.99", stocked: true, name: "Football"},
				{category: "Sporting Goods", price: "$9.99", stocked: true, name: "Baseball"},
				{category: "Sporting Goods", price: "$29.99", stocked: false, name: "Basketball"},
				{category: "Electronics", price: "$99.99", stocked: true, name: "iPod Touch"},
				{category: "Electronics", price: "$399.99", stocked: false, name: "iPhone 5"},
				{category: "Electronics", price: "$199.99", stocked: true, name: "Nexus 7"}
			];

			ReactDOM.render(
				<FilterableProductTable
					products={PRODUCTS}/>,
				document.getElementById('root')
			);
			
		</script>
	</body>
</html>