<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/lib/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div id="container">
        </div>
        <script id="newVehicleTemplate" type="text/template">
            <input class="registration-number" type="text"></input> 
            <button class="add">Add</button>
        </script>
        <script id="vehicleTemplate" type="text/html">
            <%=
                registrationNumber
            %>
            <button class="delete">Delete</button>            
        </script>        
        <script src="js/lib/require.js" data-main="js/main"></script>
    </body>
</html>