/* The CSS theme for the Navigation Example site */

/* Use Google fonts */
@import url('https://fonts.googleapis.com/css?family=Karla');

/* Style the navigation bar links */
#navbar a {
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	margin: 0px 10px 10px 10px;
	padding: 0px 8px 0px 8px;
	color: black;
	text-decoration: none;

	border: 2px solid #fff;
	border-radius: 20px;
}

#navbar a:hover {
	border-color: #000;
}

#navbar a.active {
	border-color:#808080;
}