#venues-container {
	float: left;
	width: 500px;
}

#venues {
	list-style: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-left: 0px;
	margin-top: 0px;
}

#venues li {
	padding: 30px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
}

#venues li:hover {
	background: #F7F5F5;
}

#map-container {
	float: left;
	width: 800px;
	height: 800px;
	background: #EDE8E8;
}