<html>
	<body>
		<div id="data"></div>
		<script id="the-template" type="text/x-handlebars-template">
			{{#if "off"}}
				<img src="bulb_on.jpg" alt="on">
				{{else}}
				<img src="bulb_off.jpg" alt="off">
			{{/if}}
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>