<html>
	<head>
		<meta charset='UTF-8' />
		<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.js'></script>
	</head>
	<body>
		<div id='root'></div>
		<script type='text/babel'>
			// reducer

			const todo = (state, action) => {
				switch (action.type) {
					case 'ADD_TODO':
						return {
							id: action.id,
							text: action.text,
							completed: false
						}
					case 'TOGGLE_TODO':
						if (state.id === action.id) {
							return Object.assign(
								{},
								state,
								{completed: !state.completed}
							);
						}
						return state;
					default:
						return state;
				}					
			}

			const todos = (state = [], action) => {
				switch (action.type) {
					case 'ADD_TODO':
						return [
							...state,
							todo(undefined, action)
						];
					case 'TOGGLE_TODO':
						return state.map(t => todo(t, action));
					default:
						return state;
				}
			}

			const visibilityFilter = (state = 'SHOW_ALL', action) => {
				switch (action.type) {
					case 'SET_VISIBILITY_FILTER':
						return action.filter;
					default:
						return state;
				}
			}

			/*
			// Create top level reducer manually by combining all the reducers
			const todoApp = (state = {}, action) => {
				return {
					todos: todos(state.todos, action),
					visibilityFilter: visibilityFilter(state.visibilityFilter, action)
				}
			}*/

			const combineReducers = (reducers) => {
				return (state = {}, action) => {
					return Object.keys(reducers).reduce(
						(nextState, key) => {
							nextState[key] = reducers[key](
								state[key],
								action
							);
							return nextState;
						},
						{}
					);
				};
			};

			// const { combineReducers } = Redux;

			const todoApp = combineReducers({
				todos,
				visibilityFilter
			});

			const { createStore } = Redux;
			const store = createStore(todoApp);

			const { Component } = React;
			let nextTodoId = 0;
			class TodoApp extends Component {
				constructor(props) {
					super(props);
					this.state = {todo: ""};
				}

				render() {
					return (
						<div>
							<input
								type="text"
								value={this.state.todo}
								onChange={(e) => {this.setState({todo: e.target.value})}}
							/>
							<button onClick={() => {
								store.dispatch({
									type: "ADD_TODO",
									text: this.state.todo,
									id: nextTodoId++
								});
								this.setState({todo: ""});
							}}>
								Add Todo
							</button>
							<ul>
								{this.props.todos.map(todo => 
									<li
										key={todo.id}
										style={{
											textDecoration:
												todo.completed ?
													'line-through' :
													'none'
												}}
										onClick={() => {
											store.dispatch({
												type: "TOGGLE_TODO",
												id: todo.id
											});
										}}>
										{todo.text}
									</li>
								)}
							</ul>
						</div>
					);
				}
			}

			const render = () => {
				ReactDOM.render(
					<TodoApp
					todos={store.getState().todos}/>,
					document.getElementById('root')
				);
			};

			store.subscribe(() => {
				render();
			});
			render();

		</script>
	</body>
</html>