<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../common/css/normalize.min.css">
        <link rel="stylesheet" href="../common/css/main.css">
        <link rel="stylesheet" href="../common/css/styles.css">

        <script src="../common/lib/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
    	<div id="container"></div>
        <script src="../common/lib/jquery-min.js"></script>
        <script src="../common/lib/underscore-min.js"></script>
        <script src="../common/lib/backbone-min.js"></script>
        <script id="vehicleTemplate" type="text/html">
            <%= registrationNumber %>
            <button class="delete">Delete</button>
        </script>
        <script src="main.js"></script>
    </body>
</html>