<html>
	<body>
		<div id="data"></div>
		<script id="info-template" type="text/x-handlebars-template">
			{{html_escaped}}
			<br>
			{{{html_not_escaped}}}
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>