<html>
	<head>
		<link rel="stylesheet" href="/assets/styles.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js">
		</script>
	</head>
	<body>
		<h1>
			Hello World!!
		</h1>
		<form method="post" action="/person">
			<input type="text" name="firstname"></br>
			<input type="text" name="lastname"></br>
			<input type="Submit" value="Submit">
		</form>
		<script>
			$.ajax({
				type: 'POST',
				url: '/personjson',
				data: JSON.stringify({ firstname: 'John', lastname: 'Doe' }),
				dataType: 'json',
				contentType: 'application/json'
			});
		</script>
	</body>
</html>